<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Trailhead</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" type="image/png" href="http://example.com/favicon.png" />

  <link href="/static/css/bundle.css" rel="stylesheet" />
  <link href="/static/css/common.css" rel="stylesheet" />

  {{{_sections.style}}}
</head>

<body>
  {{{body}}}

  {{#if user}}
  <script>
    window.user = {
      username: '{{user.username}}',
      displayName: '{{user.displayName}}',
      image: '{{user.image}}',
    };
  </script>
  {{/if}}

  <script src="/static/js/bundle.js"></script>
  <script src="/static/js/navigation.js"></script>
  <script src="/static/js/search.js"></script>
  {{{_sections.script}}}
</body>

</html>