{{> navigation}}

<content>
  <div class="left">
    <div id="profile">
      <div id="row">
        <div class="image" style="background-image: url(/file/{{profile.profilePicture}}/m)"></div>
        <a class="edit button-small" href="/editUser" style="display: none;">
          <div type="button" class="mdi mdi-pencil"></div>
        </a>
      </div>
      <div id="displayName">{{profile.displayName}}</div>
      <div id="username">@{{profile.username}}</div>

      <div class="follow button-small"></div>

      <div id="bio">{{profile.bio}}</a></div>
      <div id="followContainer">
        <div id="following">
          Following
          <div class="followCount">
            {{profile.follow.following}}
          </div>
        </div>
        <div id="followers">
          Followers
          <div class="followCount">
            {{profile.follow.followers}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feed"></div>
  <div class="right"></div>
</content>

{{#section 'style'}}
<link href="/static/css/post.css" rel="stylesheet" />
<link href="/static/css/feed.css" rel="stylesheet" />
<link href="static/css/profile.css" rel="stylesheet" />
{{/section}}

{{#section 'script'}}
<!-- Give the feed as JSON data to make first page load faster -->
<script>
  const preloadFeed = JSON.parse(atob('{{{ base64 posts }}}'));
  window.preloadFeed = preloadFeed;

  const preloadProfile = JSON.parse(atob('{{{ base64 profile }}}'));
  window.preloadProfile = preloadProfile;

  (() => {
    const editButton = document.querySelector('#profile .edit');
    if (editButton && window.user && window.user.username === '{{profile.username}}') {
      editButton.style.display = 'flex';
    }
  })();
</script>

<script src="/static/js/post.js"></script>
<script src="/static/js/feed.js"></script>
<script src="/static/js/follow.js"></script>
{{/section}}