{{> navigation}}

<content>
    <div id="wrapper">
        <div id="profile">
            <div class="image" style="background-image: url(/file/{{profilePicture}}/m)"></div>
            <div id="displayName">{{fullName}}</div>
            <div id="username">@{{username}}</div>
            <div id="bio">Hello this is my bio</a></div>
        </div>

        <div class="feed">
            {{#each posts}}
            <div class="post">
                {{#each media}}
                <a href="/file/{{this}}">
                    <div id="image" style="background-image: url(/file/{{this}}/m);"></div>
                </a>
                {{/each}}
                <a href="/{{username}}/{{postID}}" id="postLink">
                    <p>{{text}}</p>
                    <span>{{createdAt}}</span>
                </a>
            </div>
            {{/each}}
        </div>
        <div id="profile" style="visibility:hidden"></div>
    </div>



</content>