{{> navigation}}

<div id="wrapper">
    <div id="profile">
        <div id="row">
            <div id="purkka" style="visibility:hidden"></div>
            <div class="image" style="background-image: url(/file/{{profilePicture}}/m)"></div>
            <a href="/editUser">
                <div type="button" class="mdi mdi-pencil"></div>
            </a>
        </div>
        <div id="displayName">{{fullName}}</div>
        <div id="username">@{{username}}</div>
        <div id="bio">{{bio}}</a></div>
    </div>

    <content></content>
    <div id="empty"></div>
</div>

{{#section 'style'}}
<link href="/static/css/post.css" rel="stylesheet" />
<link href="/static/css/feed.css" rel="stylesheet" />
<link href="static/css/profile.css" rel="stylesheet" />
{{/section}}

{{#section 'script'}}
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="/static/js/post.js"></script>

<!-- Give the feed as JSON data to make first page load faster -->
<script>
    const preloadFeed = JSON.parse(atob('{{{ base64 posts }}}'));
    window.preloadFeed = preloadFeed;
</script>
<script src="/static/js/feed.js"></script>
{{/section}}