<nav>
  <a href="/" class="logo"></a>

  <div class="search">
    <input type="text" name="search" placeholder="🔎 Search for #tags, @users & more" />

    <div class="dialog"></div>

    {{#if user}}
    <div class="profile">
      <div class="image" style="background-image: url(/file/{{user.image}}/xs)"></div>
    </div>
    {{else}}
    <a href="/login"><button><span class="mdi mdi-key"></span></button></a>
    {{/if}}
  </div>

  {{#if user}}
  <div class="profile">
    <div class="image" style="background-image: url(/file/{{user.image}}/xs)"></div>
  </div>

  <div class="dialog user-menu">
    <a href="/{{user.username}}">
      <div class="item">Profile</div>
    </a>
    <hr />
    <a href="/logout">
      <div class="item">Log Out</div>
    </a>
  </div>
  {{else}}
  <a href="/login"><button>Log In</button></a>
  {{/if}}
</nav>