<nav>
  <a href="/" class="logo"></a>

  <div class="search">
    <input type="text" name="search" placeholder="🔎 Search for #tags, @users & more" />

    <div class="dialog"></div>

    {{#if user}}
    <div class="profile">
      <div class="image" {{#if user.image}} style="background-image: url(/file/{{user.image}}/s)" {{/if}}></div>
    </div>
    {{else}}
    <a href="/login"><button><span class="mdi mdi-key"></span></button></a>
    {{/if}}
  </div>

  {{#if user}}
  <div class="profile">
    <a class="create" href="/post"><button class="secondary"><span class="mdi mdi-map-plus"> Create a post</span></button></a>
    <div class="image" {{#if user.image}} style="background-image: url(/file/{{user.image}}/s)" {{/if}}></div>
  </div>

  <div class="dialog menu user-menu">
    <div class="list">
      <a class="create" href="/post">
        <div class="item"><span class="mdi mdi-map-plus"></span> Create a post</div>
      </a>
      <a href="/{{user.username}}">
        <div class="item">Profile</div>
      </a>
      <hr />
      <a href="/logout">
        <div class="item">Log Out</div>
      </a>
    </div>
  </div>
  {{else}}
  <a href="/login"><button>Log In</button></a>
  {{/if}}
</nav>